html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
}

p {
    font-size: 2rem;
}

.contenedor {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

.entrada-blog a {
    display: inline-block;
    background-color: #2196F3;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

.layout-shifter {
    display: flex;
    flex-direction: column-reverse;
}

@media(min-width:992px) {
    .layout-shifter {
        flex-direction: row;
        justify-content: space-between;
    }
    aside {
        order: 2;
    }
}

@media(min-width:768px) {
    .contenido-principal {
        display: flex;
        justify-content: space-between;
    }
    .entrada-blog {
        flex: 0 0 calc(50% - 2rem);
    }
}

@media(min-width:992px) {
    .contenido-principal {
        flex: 0 0 calc(66.6% - 2rem);
        display: block;
    }
    aside {
        order: 2;
        flex: 0 0 calc(33.3% - 2rem);
    }
}