        :root {
           --fuentePrincipal: 'Staatliches', cursive;
           --primario: #9C27B0;
           --primarioOscuro: #89119d;
           --secundario: #FFCE00;
       }
       
       html {
           font-size: 62.5%;
           box-sizing: border-box;
       }
       
       *,
       *:before,
       *:after {
           box-sizing: inherit;
       }
       
       h1 {
           color: var(--secundario);
           text-align: center;
           font-size: 4rem;
           font-family: var(--fuentePrincipal);
       }
       
       p {
           font-size: 1.8rem;
           font-family: Arial, Helvetica, sans-serif;
           color: #FFFFFF;
       }
       
       .contenedor {
           max-width: 1000px;
           width: 95%;
           margin: 0 auto;
       }
       
       img {
           max-width: 100%;
       }
       
       body {
           background-color: var(--primario);
           line-height: 2;
           font-size: 2rem;
       }
       
       body.footer-fijo {
           display: flex;
           flex-direction: column;
           min-height: 100vh;
       }
       
       body.footer-fijo main {
           flex: 1;
       }
       
       .header {
           display: grid;
           justify-content: center;
           padding: 3rem 0;
       }
       
       .barra {
           background-color: var(--primarioOscuro);
           padding: 1rem 0;
       }
       
       .barra .nav {
           display: grid;
           grid-template-columns: repeat(2, 200px);
           column-gap: 1rem;
           justify-content: center;
       }
       
       .barra .nav a {
           font-family: var(--fuentePrincipal);
           font-size: 3rem;
           text-align: center;
           color: #FFFFFF;
           text-decoration: none;
       }
       
       .barra .nav a:hover {
           color: var(--secundario);
       }
       
       .lista-productos {
           display: grid;
           grid-template-columns: repeat(2, 1fr);
           gap: 2rem;
       }
       
       @media (min-width:768px) {
           .lista-productos {
               grid-template-columns: repeat(3, 1fr);
           }
       }
       
       .producto {
           background-color: var(--primarioOscuro);
           padding: 1rem;
       }
       
       .contenido-producto p {
           font-family: var(--fuentePrincipal);
           color: #FFFFFF;
           text-align: center;
           margin: 1rem 0;
           line-height: 1.2;
       }
       
       .contenido-producto .titulo {
           font-size: 4rem;
       }
       
       .contenido-producto .precio {
           font-size: 2.8rem;
           color: var(--secundario);
       }
       
       .grafico {
           min-height: 300px;
           grid-column: 1 / 3;
           background-size: cover;
           background-position: center center;
       }
       
       .grafico-1 {
           background-image: url(../img/grafico1.jpg);
       }
       
       .grafico-2 {
           background-image: url(../img/grafico2.jpg);
           grid-row: 8 / 9;
           grid-column: 1 / 3;
       }
       
       @media(min-width:768px) {
           .grafico-1 {
               grid-row: 2 / 3;
               grid-column: 1 / 3;
           }
           .grafico-2 {
               grid-row: 5 / 6;
               grid-column: 2 / 4;
           }
       }
       
       .contenedor-informacion {
           display: grid;
           grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
           column-gap: 2rem;
       }
       
       .footer {
           background-color: var(--primarioOscuro);
           padding: 1rem 0;
           margin-top: 2rem;
       }
       
       .copyright {
           font-family: var(--fuentePrincipal);
           color: #FFFFFF;
           font-size: 2.2rem;
           text-align: center;
       }
       
       .formulario-pedido {
           display: grid;
           grid-template-columns: repeat(3, 1fr);
           grid-template-rows: repeat(2, 6rem);
           gap: 1rem;
       }
       
       .campo {
           background-color: transparent;
           border: 5px solid #FFFFFF;
           font-family: var(--fuentePrincipal);
           font-size: 3rem;
           padding: 1rem;
           width: 100%;
           color: #FFFFFF;
       }
       
       .talla {
           -webkit-appearance: none;
           -webkit-border-radius: 0px;
           grid-column: 1 / 3;
       }
       
       .boton {
           background-color: var(--secundario);
           font-size: 2rem;
           font-family: var(--fuentePrincipal);
           border: none;
           transition: background-color .3 ease;
           grid-column: 1 / 4;
       }
       
       .boton:hover {
           cursor: pointer;
           background-color: rgb(233, 187, 2);
       }