html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

img {
    max-width: 100%;
}

@media(min-width: 992px) {
    img {
        width: 300px;
    }
}

h1 {
    font-size: 4rem;
}

@media(min-width: 992px) {
    h1 {
        font-size: 6rem;
    }
}

h2 {
    font-size: 3.2rem;
}

p {
    font-size: 2rem;
}

.contenedor {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

.entrada-blog a {
    display: inline-block;
    background-color: #2196F3;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

@media(min-width: 600px) {
    .contenedor {
        width: 80%;
    }
}

@media(min-width: 800px) {
    .contenedor {
        width: 90%;
    }
}