html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
}

p {
    font-size: 2rem;
}

.contenedor {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

.entrada-blog a {
    display: inline-block;
    background-color: #2196F3;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

.layout-shifter {
    display: grid;
    grid-auto-rows: minmax(min-content, max-content);
}

@media(min-width: 992px) {
    .layout-shifter {
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem;
    }
}

aside {
    grid-row: 2 / 3;
}

@media(min-width: 992px) {
    aside {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
    }
}

@media(min-width: 768px) {
    .contenido-principal {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
    }
}

@media(min-width: 992px) {
    .contenido-principal {
        grid: unset;
    }
}